/*-------------------------------------------------- */
.strapless-container {
  padding-left: 15px;
  padding-right: 15px;
}
.strapless-container .row {
  margin-left: 0;
  margin-right: 0;
}

/*-------------------------------------------------- */
.strapless-sidenote {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  background-color: #fcf2f2;
  border-left: 5px solid #df7c7b;
}
.strapless-sidenote h4 {
  margin-top: 0;
}
.strapless-sidenote p:last-child {
  margin-bottom: 0;
}
.strapless-sidenote code,
.strapless-sidenote .highlight {
  background-color: #fff;
}

/*-------------------------------------------------- */
.show-grid {
  margin-bottom: 15px;
}
.show-grid .col {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}
.show-grid .col:hover {
  background-color: #ddd;
}

/*-------------------------------------------------- */
.strapless-sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 220px;
  overflow-y: auto;
}

/* Nav: first level */
.strapless-sidebar > .nav {
  margin: 0 0 25px 0;
}
.strapless-sidebar .nav > li > a {
  display: block;
  color: #666;
  padding: 4px 25px;
}
.strapless-sidebar .nav > li > a:hover,
.strapless-sidebar .nav > li > a:focus {
  text-decoration: none;
  border-right: 1px solid #d5d5d5;
}
.strapless-sidebar .nav > .active > a,
.strapless-sidebar .nav > .active:hover > a,
.strapless-sidebar .nav > .active:focus > a {
  font-weight: 500;
  color: #b94a48;
  background-color: transparent;
  border-right: 3px solid #b94a48;
}

/* Nav: second level (shown on .active) */
.strapless-sidebar .nav .nav {
  display: none;
  margin-bottom: 5px;
}
.strapless-sidebar .nav > .active > ul {
  display: block;
}
.strapless-sidebar .nav .nav > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 40px;
  font-size: 90%;
}

.strapless-sidenav-heading {
  margin: 0 0 25px;
}
.strapless-sidenav-heading a {
  display: block;
  padding: 15px 25px;
  color: #b94a48;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 0 #fff;
}
.strapless-sidenav-heading a:hover {
  color: #a3403e;
  text-decoration: none;
}

/* Section headings for groups of links */
.strapless-sidenav > li > .nav-header {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.strapless-sidenav > .active > .nav-header,
.strapless-sidenav > .active > .nav-header:hover {
  color: #333;
  border-color: #333;
}



/*-------------------------------------------------- */
.strapless-example {
  position: relative;
  padding: 39px 14px 14px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
}

.strapless-example + .prettyprint,
.strapless-example + .highlight {
  margin-top: 0;
}
.strapless-example > p:last-child,
.strapless-example > ul:last-child,
.strapless-example > ol:last-child,
.strapless-example > blockquote:last-child,
.strapless-example > input:last-child,
.strapless-example > select:last-child,
.strapless-example > textarea:last-child,
.strapless-example > .table:last-child,
.strapless-example > .jumbotron:last-child,
.strapless-example > .alert:last-child,
.strapless-example > .panel:last-child,
.strapless-example > .list-group:last-child,
.strapless-example > .well:last-child {
  margin-bottom: 0;
}
.strapless-example-type .table td {
  color: #999;
  vertical-align: middle;
  border-color: ;
}
.strapless-example-type .table td,
.strapless-example-type .table th {
  padding: 15px 0;
  border-color: #eee;
}
.strapless-example-type .table tr:first-child td,
.strapless-example-type .table tr:first-child th {
  border-top: 0;
}
.strapless-example-type h1,
.strapless-example-type h2,
.strapless-example-type h3,
.strapless-example-type h4,
.strapless-example-type h5,
.strapless-example-type h6 {
  margin: 0;
}
.strapless-example > .list-group {
  max-width: 400px;
}

/* Navbar examples */
.strapless-navbar-top-example,
.strapless-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  min-height: 110px;
  overflow: hidden; /* cut the drop shadows off */
}
.strapless-navbar-top-example .navbar-fixed-top,
.strapless-navbar-bottom-example .navbar-fixed-bottom {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
.strapless-navbar-top-example .navbar-fixed-top {
  top: -1px;
}
.strapless-navbar-bottom-example .navbar-fixed-bottom {
  bottom: -1px;
}
.strapless-navbar-top-example:after {
  top: auto;
  bottom: -1px;
}
.strapless-navbar-bottom-example .navbar {
  margin-bottom: 0;
}

/* Example modals */
.strapless-example-modal {
  background-color: #f5f5f5;
}
.strapless-example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block;
}
.strapless-example-modal .modal-dialog {
  left: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Example dropdowns */
.strapless-example > .dropdown > .dropdown-menu,
.strapless-example-submenu > .pull-left > .dropup > .dropdown-menu,
.strapless-example-submenu > .pull-left > .dropdown > .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 5px;
}
.strapless-example-submenu {
  min-height: 230px;
}
.strapless-example-submenu > .pull-left + .pull-left {
  margin-left: 20px;
}

/* Example tabbable tabs */
.strapless-example-tabs .nav-tabs {
  margin-bottom: 15px;
}

/* Tooltips */
.strapless-tooltip-examples {
  text-align: center;
  margin: 0 0 10px;
  list-style: none;
}
.strapless-tooltip-examples li {
  display: inline;
  padding: 0 10px;
}

/* Popovers */
.strapless-example-popover {
  padding-bottom: 24px;
  background-color: #f9f9f9;
}
.strapless-example-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
}


/* Example templates
-------------------------------------------------- */

.strapless-examples h4 {
  margin-bottom: 5px;
}
.strapless-examples p {
  margin-bottom: 20px;
}



/* Icons
-------------------------------------------------- */

.the-icons {
  padding-bottom: 1px;
  margin-left: 0;
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
}
.the-icons li {
  float: left;
  width: 100px;
  height: 110px;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 -1px -1px 0;
}
.the-icons .glyphicon {
  display: block;
  margin: 5px auto;
  vertical-align: middle;
  margin-right: 3px;
  font-size: 24px;
}
.the-icons li:hover {
  background-color: rgba(255,0,0,.1);
}



/* Responsive docs
-------------------------------------------------- */

/* Related: responsive utilities tables */
.table code {
  font-size: 13px;
  font-weight: normal;
}

/* Utility classes table
------------------------- */
.responsive-utilities th small {
  display: block;
  font-weight: normal;
  color: #999;
}
.responsive-utilities tbody th {
  font-weight: normal;
}
.responsive-utilities td {
  text-align: center;
}
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}

/* Responsive tests
------------------------- */
.responsive-utilities-test {
  margin-top: 5px;
  margin-left: 0;
  list-style: none;
  overflow: hidden; /* clear floats */
}
.responsive-utilities-test li {
  position: relative;
  float: left;
  width: 25%;
  height: 43px;
  font-size: 14px;
  font-weight: bold;
  line-height: 43px;
  color: #999;
  text-align: center;
  border: 1px solid #ddd;
}
.responsive-utilities-test li + li {
  margin-left: 10px;
}
.responsive-utilities-test span {
  position: absolute;
  top:    -1px;
  left:   -1px;
  right:  -1px;
  bottom: -1px;
}
.responsive-utilities-test span {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}



/* Footer
-------------------------------------------------- */

.strapless-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px;
  border-top: 1px solid #e5e5e5;
}
.strapless-footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/* Social proof buttons from GitHub & Twitter */
.strapless-social {
  margin-top: 80px;
  margin-bottom: 20px;
}
/* Quick links on Home */
.strapless-social-buttons {
  display: inline-block;
  margin: 0;
  list-style: none;
}
.strapless-social-buttons li {
  display: inline-block;
  line-height: 1;
}
.strapless-social-buttons li + li {
  margin-left: 15px;
}
.strapless-social-buttons .twitter-follow-button {
  width: 225px !important;
}
.strapless-social-buttons .twitter-share-button {
  width: 98px !important;
}



/* Misc docs stuff
-------------------------------------------------- */

/* Pseudo :focus state for showing how it looks in the docs */
input.focused {
  border-color: rgba(82,168,236,.8);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
       box-shadow: 0 0 8px rgba(82,168,236,.6);
}

/* Scrollspy demo on fixed height div */
.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 10px;
  overflow: auto;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}



/* Docs gallery
-------------------------------------------------- */

.strapless-gallery .thumbnail {
  max-width: 400px;
  margin: 0 auto 20px;
}


/* Responsive variations
-------------------------------------------------- */

/* Hide code snippets on mobile devices */
@media screen and (max-width: 480px) {
  .pre .code {
    display: none;
  }
}

/* Tablets and up */
@media screen and (min-width: 768px) {

  /* Back to top link */
  .strapless-top {
    padding: 5px 10px;
    font-weight: 500;
    font-size: 16px;
    color: #666;
    background-color: rgba(0, 0, 0, .15);
  }
  .strapless-top:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .50);
  }
  .strapless-top.affix {
    right:  15px;
    bottom: 15px;
  }

  .strapless-section-header h1 {
    font-size: 60px;
    font-size: 6rem;
    line-height: 1;
  }

  /* Account for fixed navbar (which is static to start) */
  .strapless-docs {
    padding-left: 20px;
    padding-right: 240px;
  }

  /* Undo custom padding */
  .strapless-container {
    padding-left: 0;
    padding-right: 0;
  }

  /* Show the docs nav */
  .strapless-sidebar {
    display: block;
  }

  /* Tweak display of docs jumbotrons */
  .masthead {
    padding-top:    100px;
    padding-bottom: 100px;
  }
  .masthead h1 {
    font-size: 100px;
  }
  .masthead p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 30px;
  }
  .subhead {
    padding-top:    60px;
    padding-bottom: 60px;
    text-align: left;
  }

  .strapless-navbar-top-example .navbar-fixed-top,
  .strapless-navbar-bottom-example .navbar-fixed-bottom {
    position: absolute;
  }

}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {

  .strapless-docs {
    padding-left: 40px;
    padding-right: 260px;
  }

  /* Icons */
  .the-icons li {
    width: 12.5%;
  }

}

/* Large desktops and up */
@media screen and (min-width: 1200px) {

  .strapless-docs {
    padding-left: 80px;
    padding-right: 300px;
  }

}
