/* Doc-specific styles
 *-------------------------------------------------- */
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.container .row {
  margin-left: 0;
  margin-right: 0;
}

/* Grid
 *-------------------------------------------------- */
.grid-demo {
  margin-bottom: 15px;
}
.grid-demo .col {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}
.grid-demo .col:hover {
  background-color: #ddd;
}



